.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width:600px){
  #btn5{
    display: flex;
    position: relative;
    top: -0.4em;
    left: -1em;
  }
  #btn6{
    display: flex;
    position: relative;
    top: -2.8em;
    left: 11.5em;
  }
  #btn4{
    display: flex;
    position: relative;
    top: -1.4em;
    left: 6.5em;
  }
  #btn3{
    display: flex;
    position: relative;
    top: 1em;
    left: -1em;
  }
}